.bg-img{
    background-image: url("bgimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    height: 100%; 
    position: absolute; 
    width: 100%;
    z-index: -1;
}    

h1{
    padding-top: 5%;
    text-align: center;
    text-decoration:underline;
}

.card{
    margin-left: 5%;
    margin-top: 5%;
}

.card-img-top{
    height:100%;
    padding-top: 1%;
    width:100%;
}
